body{
    font-family: 'Roboto', sans-serif;
    background: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
}
.image-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  }
  
  .media {
    width: 48px;
    height: 48px;
  }
  
  .center-image {
    margin-left: 0;
    margin-right: 0;
  }
  .anim{
    background-color: rgb(71, 145, 230);
    border-radius: 200px 200px 0px 0px;
    -webkit-border-radius: 200px 200px 0px 0px;
    -moz-border-radius: 200px 200px 0px 0px;
    height: 80px;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.1s;
}

.anim:active{
  background-color: gray;
  transition: 0.1s;
}

.container{
  transition: 0.8s;
  width: auto 0;
    height: auto;
    box-shadow: 53px 9px 10px 5px rgba(0,0,0,0.36);
-webkit-box-shadow: 10px 9px 10px 5px rgba(0,0,0,0.36);
-moz-box-shadow: 53px 9px 10px 5px rgba(0,0,0,0.36);
background: rgb(47,47,47);
background: linear-gradient(90deg, rgb(71, 145, 230) 60%, rgb(79, 151, 148) 90%, rgb(253, 250, 250) 100%);
display: block;
}

.text{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
}
#woodtwo{
  transform: scaleX(-1);
}
.blockcenter{
  width: 100%;
  height: auto;
  display: inline-flex;
}

.blockcentertwo{
  margin-top: 100px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5); /* Прозрачный белый цвет */
  font-family: 'Edu SA Beginner', cursive;
    width: 100%;
    height: auto;
    border-radius: 50px 50px 5px 5px;
    box-shadow: 53px 9px 10px 5px rgba(0,0,0,0.36);
    -webkit-box-shadow: 10px 9px 10px 5px rgba(0,0,0,0.36);
    -moz-box-shadow: 53px 9px 10px 5px rgba(0,0,0,0.36);
}
.name{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(154, 192, 105);
}
.type p{
  font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(36, 36, 36, 0.1);
}
.photo{
  width: 100px;
}
.soft{
 display: inline-flex;
}
.face{
  float: left;
  border: 2px solid rgb(238, 202, 44);
  display: inline-table;
  margin: 5%;
  border-radius: 100%;
}

.footer {
  font-family: 'Edu SA Beginner', cursive;
  background: rgba(255, 255, 255, 0.5); 
  color: #000000;
  flex: 1 auto;
}
.typept{
  margin-left: 1%;

}
.typept2{
  margin-left: 1%;
}
@media (max-width: 768px) {
  .anim {
      height: 40px;
  }
}
@media (max-width: 768px) {
  .media {
      height: 36px;
      width: 36px; 
  }
}
.blockmiddle{
  margin: 1%;
  flex: 1 0 auto;
  color: white;
  justify-content: center;
  text-align: center;
  display: inline-flex;
}
button{
  margin:1%;
  border: 2px dashed rgb(83, 136, 83);
  background-color: rgb(207, 160, 73);
  border-radius: 20px;
  width: 150px;
  transition: 0.6s;
  height: 50px;
}
button:hover{
  background-color: rgb(83, 136, 83);
  border: 2px dashed rgb(207, 160, 73);
  transition: 0.6s;
}
hr {
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(51, 122, 183)' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-2,10,-2 s 5,2,10,2 c 5,0,5,-2,10,-2 s 5,2,10,2'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-repeat: repeat-x;
  padding-bottom: 4px;
  background-size: auto 4px;
}
@media (max-width: 768px) {
  #wood, #woodtwo {
    display: none; 
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

